@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
background-image: url(/assets/imagem/2498904-fundo-azul-abstrato-fluido-vetor.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 900px;
}

.content-center{ 
width: 100%;
max-width: 500px;
height: 500px;
margin: auto;
padding: 20px;
background-color: #fff;
border-radius: 50%;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.30);
}
.content-center img{
width: 70%;
border-radius: 5px;
}

.content-center form{
margin: 20px;
}
    
.content-center input, .content-center button{
width: 100%;
padding: 10px 5px;
border: none;
outline: none;
}

#btn-submit{
    border-radius: 15px;
}
.content-center input{
border-bottom-color: #ccc;
border-bottom-style: solid;
border-bottom-width: 2px;
margin-bottom: 10px ;
border-radius: 5px;
}

.content-center input:focus{
    border-bottom-color: #5e5e5e;
    color: #000000;
}

.content-center button{

}
.content-center button:hover{
background-color: #dfdfdf;
cursor: pointer;
}

.content-center button:active{
    background-color: #92c5a1;
}

header a{
    color: #f03030;
    text-decoration: none;

}

header a:visited{
    color: #000000;
}

header a:hover{
    text-decoration: underline;
}

header a:focus{
    color: #f03030;
}

header a:active{
    color: #ee9595;
}

header h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
    font-style: italic;
    font-weight: 700 bold;
    font-family: 'Poppins', sans-serif;
}

footer{
    margin-top: 1.5em;
    font-size: 0.8em;
    text-align: center;
}

#text-center{
    text-align: center;
    margin-top: 82px;
    
}